@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Outfit:wght@300&display=swap');
.nav-link{
   color: rgb(163, 163, 163) !important;
}

.bg-orange{
   background-color:rgb(255, 242, 218)
}

.navbar-brand{
   color: rgb(165, 165, 165) !important;
}

.carousel-inner{

}


.map-responsive{
   overflow:hidden;
   padding-bottom: 30%;
   position:relative;
   height:0;
}
.map-responsive iframe{
   left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;
}

.carousel .carousel-item{
   height: 400px;
}

.carousel-item img{
   position: absolute;
   object-fit: cover;
   top: 0;
   left: 0;
   min-height: 500px;
   max-height: 500px;
}

.res img {
   border-radius: 50%;
   width: 500px;
   height: 450px;
} 

.popis img{
   width: 500px;
   height: 450px;
}